body{
    margin: 10px;
    font-family: sans-serif,arial;
    background-color:hsl(0, 0%, 5%);
}

header{
    background-color: #5247b9;
    border-style: inset;
    border-radius: 10px;
    border-width: 4px;
    border-color: #86A8DB;
    text-align: center;
    position: relative;
    bottom: 10px;
}
h1{
    text-shadow: 3px 3px 5px rgb(112, 102, 104),-3px -3px 5px rgb(13, 6, 13);
    color:white;
    text-align: center;
}
.linksnav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
    width: fit-content;
}
.linksnav a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 10px;
}
.linksnav a:hover{
    background-color:hsl(185, 100%, 50%);
    color: white;
}
.linksnav a:active{
    background-color: white;
    color: black;
}
.linksnav li{
    float: left;
}

footer{
    background-color: #5247b9;
    border-style: inset;
    border-radius: 10px;
    border-width: 4px;
    border-color: #86A8DB;
    position: relative;
    top: 10px;
    text-align: center;
    color: white;
}
.linksfinal a{
    color: hsl(181, 99%, 49%);
    text-decoration: none;
    padding: 0px;
}
.linksfinal a:hover{
    color: red;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    display: flow-root;
    color: white;
}
.corpo{
    margin-left: 20px;
    margin-bottom: 20px;
}
.corpo a{
    color: red;
    text-decoration: none;
}
.corpo a:hover{
    color: hsl(64, 100%, 50%);
}

#imagem{
    float: left;
    margin: 10px;
}

@media screen and (max-widht:768px){
body{
    margin: 5px;
}

header{
    bottom: 5px;
}
main{
    margin-left: 5px;
    margin-right:5px;
}
.corpo{
    margin-left: 5px;
    margin-bottom: 5px;
}
}

#barbecuebody{
    text-align: center;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
#responderBtn{
    margin-top: 20px;
    height: 30px;
    width: 70px;
    border-radius: 20px;
}
#imagemContainer{
    margin-top: 20px;
}
#condimentoInput{
    height: 30px;
    width: 400px;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
}
.imagem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}